.container{
    width: 950px;
    background-color: silver;
    padding: 20px;
}
.top-nav {
    height: 150px;
    background-color: green;
    
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display:inline-block;
    margin-top: 10px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display:inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 15px;
    padding: 15px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: auto 4px ;
    display: inline-block;
      
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 20px;

 
}
