hr {
    border: 2px solid var(--gray-dark) !important;
    margin: 20px 0 !important;
}

 /* Change input focus color */
 input.form-control:focus {
    border-color: #061d21; 
    box-shadow: 0 0 0 0.2rem #999999; 
}