<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TV shows</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container mx-auto">
        <div class="row mt-5">
            <h1 class="col-8">Edit Show</h1>
            <a class="col-2" href="/shows">TV shows</a>
            <a class="col-2" href="/logout">Logout</a>
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }} text-danger" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <!-- Add class need validation and attribute novalidate -->
        <form action="/update" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ show.id }}">
            <div class="col-8">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" name="title" id="title" value="{{ show.title }}" required>
                    <div class="invalid-feedback">
                        Please provide a title.
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="network">Network</label>
                            <input type="text" class="form-control" name="network" id="network"
                                value="{{ show.network }}" required>
                            <div class="invalid-feedback">
                                Please provide a network.
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="release_date">Release Date</label>
                            <input type="date" class="form-control" name="release_date" id="release_date"
                                value="{{ show.release_date|date:'Y-m-d' }}" required>
                            <div class="invalid-feedback">
                                Please provide a release date in YYYY-MM-DD format.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description"
                        rows="5">{{ show.description }}</textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-info">Update</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>