<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Counter</title>
</head>

<body>
    <div class="custom-body-1">
        <h1>Welcome to the Great Number Game!</h1>
        <h4 class="header4">I am thinking of a number between 1 and 100</h4>
        <h4 class="header4">Take a guess!</h4>
        <h4 class="header4">You have {{session['limit']}} left !!</h4>
        <form action="/guess_from_user" method="post">
            <div class="mb-3">
                <input type="text" id="number" name="user_number" required>
            </div>
            <button type="submit" class="btn btn-info">Submit</button>
        </form>
    </div>
</body>

</html>