<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaderboard_style.css') }}">
    <title>Leaderboard</title>
</head>

<body class="custom-body">
    <h1 id="title">Great Number Game Winners</h1>
    <div class="winner_container">
        <h2>Rank__Winner Name__Number of tries</h2>
    </div>
    {% set index = 1 %}
    {% for i in winners %}
    <div class="winner_container">
        <div class="rank">
            <h1>{{loop.index }}</h1>
        </div>
        <h1>{{ i['name'] }}</h1>
        <div class="tries_container">
            <h1>{{ i['tries'] }}</h1>
        </div>
    </div>
    {% endfor %}
    <a href="/back_home"><button class="btn">Back</button></a>
</body>

</html>