<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Counter</title>
</head>

<body>
    <div class="custom-body-0">
        <h1>Welcome to the Great Number Game!</h1>
        <h3>There is to difficulty levels:</h3>
        <h4 class="text-blue">Easy</h4>
        <h5>Unlimited guessing for the number</h5>
        <h4 class="text-info">Hard</h4>
        <h5>Only 5 times allowed to guess the number !</h5>
        <a href="/easy"><button type="button" class="btn">Easy</button></a>
        <a href="/hard"><button type="button" class="btn btn-info">Hard</button></a>
</body>

</html>