<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row mt-5">
            <h1 class="col-8">Success! Welcome, {{ user.first_name }}!</h1>
            <div class="col-2"></div>
            <a class="col-2" href="/logout">Log Out</a>
        </div>
        <h5 class="text-success mt-3">
            Successfully registered (or logged in)!
        </h5>
    </div>
</body>

</html>