<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    {% load static %} 
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <p>Counter Value: {{ count }}</p>
    <p>Number of Visits: {{ visits }}</p>
    
    <form method="post">
        {% csrf_token %}
        <button type="submit" name="action" value="increment_2">+2</button>
    </form>
    <form method="post" action="/destroy_session">
        {% csrf_token %}
        <button type="submit" name="action" value="reset">Reset</button>
    </form>
    <form method="post">
        {% csrf_token %}
        <label for="increment_value">Custom Increment:</label>
        <input type="number"  name="increment_value" min="1" >
        <button type="submit" name="action" value="increment_custom">Increment Custom</button>
    </form>

</body>
</html>

