
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #4CAF50;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1em;
}

button:hover {
    background-color: #45a049;
}

form {
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 8px;
    font-size: 1em;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

label {
    font-size: 1.1em;
    margin-right: 10px;
}

input[type="number"]:focus {
    border-color: #4CAF50;
}
