body {
    background-color: rgb(51, 50, 50);
    margin: 2% auto;
}

.row{
    width: 80%;
    height: 150px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

p {
    width: 15%;
    height: 150px;
}