<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>Ninja Gold</title>
</head>

<body class="custom-body">

    <div class="my_container d-flex p-2 flex-md-row align-items-center">
        <h5 class="flex-item mx-2">Your Gold: </h5>
        <h5 class="flex-item mx-2 result">{{session['total_golds']}}</h5>
        
    </div>

    
    <div class="my_container_1 d-flex flex-md-row align-items-center justify-content-between">

            <form action="/process_money" method="post">
                <h4 class="my_magin">Farm</h4>
                <h6 class="my_magin">(earns 10-20 golds)</h6>
                <input type="hidden" name="form" value="farm">
                <input type="hidden" name="min" value="10">
                <input type="hidden" name="max" value="20">
                <button type="submit" class="btn btn-info m-3">Find Gold!</button>
            </form>
        </div>

        <div class="video-background">
            <video class="video">
                <source src="static/video/cave.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <form action="/process_money" method="post">
                <h4 class="my_magin">Cave</h4>
                <h6 class="my_magin">(earns 5-10 golds)</h6>
                <input type="hidden" name="form" value="cave">
                <input type="hidden" name="min" value="5">
                <input type="hidden" name="max" value="10">
                <button type="submit" class="btn btn-info m-3">Find Gold!</button>
            </form>
        </div>

        <div class="video-background">
            <video class="video">
                <source src="static/video/house.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <form action="/process_money" method="post">
                <h4 class="my_magin">House</h4>
                <h6 class="my_magin">(earns 2-5 golds)</h6>
                <input type="hidden" name="form" value="house">
                <input type="hidden" name="min" value="2">
                <input type="hidden" name="max" value="5">
                <button type="submit" class="btn btn-info m-3">Find Gold!</button>
            </form>
        </div>

            <form action="/process_money" method="post">
                <h4 class="my_magin">Casino</h4>
                <h6 class="my_magin">(earns/takes 0-50 golds)</h6>
                <input type="hidden" name="form" value="casino">
                <input type="hidden" name="min" value="-50">
                <input type="hidden" name="max" value="50">
                <button type="submit" class="btn btn-info m-3">Find Gold!</button>
            </form>
        </div>
    </div>

    <h5 class="m-4">Activities:</h5>
    <div id="activities">
        {% for santance in session['activities']: %} 
        {% if 'Earned' in santance %}
        <p class="green">{{santance}}</p>
        {% else %}
        <p class="red">{{santance}}</p>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Reset button -->
    <a href="/destroy_session"><button class="btn btn-info m-3 px-16">Reset</button></a>

</body>

</html>