<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello page</title>
</head>

<body style="margin: 0 auto; background-color:#ffebcd0a; width: fit-content; padding:10px">
    <h1 style="margin: 10px;">Wellcome to my playground</h1>
    <p>To go to the playground please enter the URL as following:</h2>
    <p style="font-weight: bold; background-color:yellow; text-align: center">//localhost:5000/play<span
            style="color: red;">/number_of_boxes</span><span style="color: green;">/color</span></p>
    <h3><span style="text-decoration: underline;">Note</span>: number_of_boxes and color is optional !!
    </h3>
    <h4 style="text-align: center; color: #2196F3;">Feel Free to use it :D</h3>
</body>

</html>