<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>

<body style="background-color:#ffebcd0a;">
    <div
        style=" margin: 0 auto; width: 70%; display: flex; justify-content:flex-start; align-items: center; flex-wrap: wrap;">
        {% for i in range (0,number_of_boxes) %} {# Add boxes according to number of boxes passed from backend #}
        <p style="height: 150px; width: 20%; background-color:{{color}}; border:3px solid black; margin: 2%"></p> {#
        Change the color of boxes according to the passed value from backend #}
        {% endfor %}
    </div>
</body>

</html>