<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Book</title>
</head>
<body>
    <h1>Add a Book</h1>
    <form action="add_author" method="POST">
        {% csrf_token %}
        <label for="first_name">First name:</label><br>
        <input type="text" id="first_name" name="first_name" ><br>
        <label for="last_name">Last name:</label><br>
        <input type="text" id="last_name" name="last_name" ><br>
        <label for="notes">Notes:</label><br>
        <input type="text" id="notes" name="notes" ><br>
        <input type="submit" value="Submit">
    </form>

    <h2>Authors List</h2>
    <table border="1">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.first_name }} {{ author.last_name }}</td>
                <td><a href="/author_detalies/{{ author.id }}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
