<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>views</title>
</head>
<body>
    <h1>{{ display_author.first_name}} {{ display_author.last_name }}</h1>
        <h5>ID: {{ display_author.id }}</h5>
        <p><strong>notes:</strong> {{ display_author.notes}}</p>
        <h4>Authors:</h4>
        <ul> 
            {%for book in display_author.books.all %}
            <li>{{book.title}}</li>
            {% endfor %}
        </ul>

        
    <form action="/connection_with_book/{{display_author.id}}" method="POST">
        {% csrf_token %}
        <select name="book_name">
            <option value="" disabled selected>select an book</option>
            {% for book in display_author.books.all %}
            <option value="{{book.id}}">{{book.title}} </option>
            {% endfor %}
        </select>
        <button>Add</button>
    </form>
</body>
</html>