<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add a book</title>
</head>

<body>
    <a href="author">author page</a>
    <h1>Add a book</h1>
    <form action="addbook" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title" required><br>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" required><br><br>
        <input type="submit" value="Add">
    </form>

    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {%for book in books %}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href="book_detalies/{{book.id}}">View</a></td>
        </tr>
        {%endfor%}
    </table>

</body>

</html>