asgiref==3.8.1
bcrypt==4.3.0
blinker==1.9.0
click==8.1.8
colorama==0.4.6
distlib==0.3.9
Django==5.2
filelock==3.18.0
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
platformdirs==4.3.7
tzdata==2025.2
virtualenv==20.30.0
Werkzeug==3.1.3
