* {
    margin: 0%;
    padding: 0%;
}
.custom-body {
    background-color: #e6f5fb;
    padding: 3%;
    text-align: center;
    margin: 1% auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.winner_container {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #104a61;
    border-radius: 27px;
    background-color: #187498;
    color: white;
    margin: 2% auto;
    padding: 1%;
    height: 50px;
}

.rank {
    border: 1px solid rgb(50, 50, 49);
    background-color: #f5c940;
    border-radius: 50%;
    color: azure;
    width: 50px;
    height: 50px;
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

.tries_container {
    width: 10%;
    height: 85%;
    border: 1px solid rgb(50, 50, 49);
    background-color:#CCCCCC;
    border-radius: 20px;
    padding: 2%;
    color:black;
    text-align: center;
}

#title {
    background-color: #187498;
    width: fit-content;
    padding: 1% 5%;
    margin: 0 auto;
    border: #cccccc dotted 5px;
    color: wheat;
}

.btn {
    color: #fff;
    background-color: #187498;
    border-radius: 10px;
    font-size: x-large;
    text-align: center;
    padding: 1% 3%;
}

h2 {
    margin: 0 auto;
    color: #e3e1e1;
}