
.custom-body-0, .custom-body-1, .custom-body-2, .custom-body-3 {
    background-color: #e6f5fb;
    border: 3px solid black;
    border-radius: 27px;
    padding: 3%;
    width: 50%;
    text-align: center;
    margin: 5% auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.custom-body-0 {
    background-color: #f0f0f0;
}

.custom-body-2 {
    background-color: #ffedea;
}

.custom-body-3 {
    background-color: #f3fdeb;
}
.header4, .mb-3 {
    margin: 1rem;
}

.box {
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    margin: 0 auto;
    padding: 3%;
    border-radius: 20px;
}

.btn {
    background-color: #187498;
    color: white;
}

.text-blue {
    color: #187498;
}

.winner_name {
    text-align: center;
    padding: 3%;
    width: 50%;
    margin: 0% auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}