{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Gold</title>
</head>
<body>
    <div class="intut_gold">
        <label for="YourGold">Your Gold :</label><br>
        <input type="text" placeholder="0" value="{{ request.session.total_gold }}"> 
    </div>
<section class="continer">
    <form class="bord" action="/process_money" method="POST">
        {% csrf_token %}
        <h2>Farm</h2>
        <p>(earns 10-20 gold)</p>
        <button name="Farm">Find Gold!</button>
    </form>
    <form class="bord" action="/process_money" method="POST">
        {% csrf_token %}
        <h2>Cave</h2>
        <p>(earns 10-20 gold)</p>
        <button  name="Cave">Find Gold!</button>
    </form>
    <form class="bord" action="/process_money" method="POST">
        {% csrf_token %}
        <h2>House</h2>
        <p>(earns 10-20 gold)</p>
        <button  name="House">Find Gold!</button>
    </form>
    <form class="bord" action="/process_money" method="POST">
        {% csrf_token %}
        <h2>Quest</h2>
        <p>(earns /takes 0-50 gold)</p>
        <button name="Quest">Find Gold!</button>
    </form>
</section>
    <div class="activities">
        <p>Activities:</p>
        <textarea name="activity" rows="6" cols="110" placeholder="0">
            {% for activity in request.session.activities %}
            {{ activity }}
            {% endfor %}
        </textarea><br><br>
    </div>


    
</body>
</html>